<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Saved Jobs</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>⭐ Saved Jobs</h1>

{% if jobs %}

{% for job in jobs %}

<div class="card">

<h3>{{ job['title'] }}</h3>

<div class="company">
🏢 {{ job['company'] }}
</div>

<div class="info">

<span class="badge">
📍 {{ job['location'] }}
</span>

<span class="badge">
💻 {{ job['job_type'] }}
</span>

</div>

<a
href="{{ job['url'] }}"
target="_blank"
class="apply">

Apply Now

</a>

</div>

{% endfor %}

{% else %}

<div class="no-results">

<h2>No Saved Jobs Yet</h2>

</div>

{% endif %}

</div>

</body>
</html>